<div class="layui-col-sm6 layui-col-xs6" id="fb-10001">
    <div class="tab-block">主动法宝
        <!-- <div class="fb-btn">战</div> -->
        <span class="prompt-box">
            主动类型法宝，佩戴后可在战斗中点击使用。
        </span>
    </div>
</div>
<div class="layui-col-sm6 layui-col-xs6" id="fb-10002">
    <div class="tab-block">被动法宝
        <span class="prompt-box">
            被动类型法宝，佩戴后可在战斗中自动触发。
        </span>
    </div>
</div>
<div class="layui-col-sm6 layui-col-xs6" id="fb-10003">
    <div class="tab-block">状态法宝
        <span class="prompt-box">
            状态类型法宝，佩戴后可在战斗中自动生效。
        </span>
    </div>
</div>
<div class="layui-col-sm6 layui-col-xs6" id="fb-10004">
    <div class="tab-block">增益法宝
        <span class="prompt-box">
            增益法宝，佩戴后面板及战斗中增益属性。
        </span>
    </div>
</div>