<script>
    //login中的js
    var is_r = window.location.href.indexOf('is_r') > -1;
    $(".top-bar").remove();
    var c_email = localStorage.getItem('email');
    var c_pwd = localStorage.getItem('pwd');

    if (c_email && c_pwd) {
        $("#email").val(c_email);
        $('#pwd').val(c_pwd);
    }
    var pomelo = window.pomelo;
    function queryEntry(login_data, callback) {
        var url = window.location.href;                    //获取当前页面的url
        if (url.indexOf("?") != -1) {                        //判断是否存在参数
            url = url.replace(/(\?|#)[^'"]*/, '');           //去除参数
            window.history.pushState({}, 0, url);
        }
        var route = 'gate.gateHandler.queryEntry';
        pomelo.init({
            host: window.location.hostname,
            port: 3014,
            log: true
        }, function () {
            var code = $('#emailCode').val();
            pomelo.request(route, {
                login_email: login_data.email,
                login_pwd: login_data.pwd,
                code: code,
                is_r: is_r ? true : false
            }, function (data) {
                pomelo.disconnect();
                if (data.code != 200) {
                    layer.msg(data.msg, { offset: '50%' })
                    return
                } else {
                    localStorage.setItem('email', login_data.email)
                    localStorage.setItem('pwd', login_data.pwd)
                    callback(data);
                }
            });
        });
    };
    //我们强烈推荐你在代码最外层把需要用到的模块先加载
    layui.use(['layer', 'form', 'element'], function () {
        var layer = layui.layer
            , form = layui.form
            , element = layui.element;
        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来进行渲染
        form.render();
        //监听提交
        form.on('submit(login)', function (data) {
            if (data.field.email.length > 6) {
                layer.msg("用户名不得超过6位！", { offset: '50%' })
                return
            }
            if (data.field.pwd.length < 6) {
                layer.msg("密码不得少于6位！", { offset: '50%' })
                return
            }
            var code = $('#emailCode').val();
            if (!code && !is_r) {
                layer.msg("请输入验证码", { offset: '50%' })
                return
            } else {
                layer.msg(is_r ? '断线重连中...' : '登录中...', {
                    offset: '50%'
                });
                queryEntry(data.field, function (result) {
                    setCookie('server-info', JSON.stringify({ host: result.host, port: result.port, email: data.field.email, token: result.token, mid: result.mid }))
                    setTimeout(function () {
                        if (is_r) {
                            location.href = "/?is_r=1"
                        } else {
                            location.href = "/"
                        }
                    }, 500)
                });
            }

            return false;
        });
    });


    $(document).ready(function () {
        //update user list
        pomelo.on('onAdd', function (data) {
            var user = data.user;
            // console.log("用户：", user)
        });
        if (is_r) {
            $("#login-sub").click()
        }


    })
    var sendEmailCodeFunc = function () {
        $.post("/api/sendMailCode", { email: $("#email").val() }, function (res) {
            if (res.code == 200) {
                $('#img-code').html(res.data);
                $('#sub-code').hide();
                $('#img-code').show();
                var i = 30;
                $('#sub-code').attr("disabled", "true")
                var endtime = setInterval(function () {
                    i--;
                    // $('#sub-code').text(i);
                    if (i <= 0) {
                        clearInterval(endtime);
                        $('#sub-code').removeAttr("disabled");
                        $('#sub-code').text("获取");
                        $('#sub-code').show();
                        $('#img-code').hide();
                    }
                }, 1000);
            } if (res.code == 304) {
                layer.msg(res.msg, { offset: '50%' })
                var i = res.data;
                $('#sub-code').attr("disabled", "true")
                var endtime = setInterval(function () {
                    i--;
                    $('#sub-code').text(i);
                    if (i <= 0) {
                        clearInterval(endtime)
                        $('#sub-code').removeAttr("disabled");
                        $('#sub-code').text("获取");
                    }
                }, 1000)
            } else {
                layer.msg(res.msg, { offset: '50%' })
            }
        })
    }
</script>


<script>
    //home中登录地方  458行
    pomelo.init({
        host: initCookie.host,
        port: initCookie.port,
        log: true
    }, function () {
        var route = "connector.loginHandler.login";
        pomelo.request(route, {
            email: initCookie.email,
            token: initCookie.token
        }, function (data) {
            if (data.error || data.code == 500) {
                layer.msg("与服务器断开连接", {
                    offset: '50%'
                });
                setTimeout(function () {
                    location.href = "/login"
                }, 1000);
                return;
            }
            user_id = data.data.myInfo._id;
            $('#user-id').val(user_id);
            if (data.data.logs > 0) {
                $("#my-msg-tab").html(`我的消息<span class="layui-badge" style='height:12px;line-height:12px;top:-1px;left:1px;'>${data.data.logs}</span>`);
            }
            localStorage.setItem("userInfo", JSON.stringify(data.data.myInfo));
            qilinFunc(data.data.myInfo.xy_num);
            eachUserTask(data.data.userTasks);
            eachUserEqs(data.data.userEqs);
            initMonitorServerPomelo();
            resetMapInfo(data.data);
            for (const item of data.data.wordLogds) {
                appendLogsFunc(`<p style='color:black;'>公告:${item.content}</p>`);
            };
        });
    });
    //home中  重连
    var is_r = window.location.href.indexOf('is_r') > -1;
    if (is_r) {
        var url = window.location.href;
        if (url.indexOf("?") != -1) {
            url = url.replace(/(\?|#)[^'"]*/, '');
            window.history.pushState({}, 0, url);
        }
        setTimeout(function () {
            $("#team-tap").click();
            setTimeout(function () {
                startBatFunc(1);
            }, (Math.random() * 3000) + 1000);
        }, (Math.random() * 3000) + 1000);
    }
</script>

<script>
    //build中 初次链接
    let arr = url.split(":");
    if (~~arr[2] > 10000) {
        arr[1] = "//yundingxx.com";
        arr[2] = (~~arr[2] - 10000);
        is_pro = true;
    }
    url = arr.join(":");

    //buid.js重连1558行
    if (socket) {
        if (socket.disconnect) socket.disconnect();
        if (socket.close) socket.close();
        if (socket.url.indexOf('3050') > -1 || socket.url.indexOf('3051') > -1 || socket.url.indexOf('3052') > -1 || socket.url.indexOf('3053') > -1) {
            layer.msg('断线重连中...', { offset: '50%' });
            setTimeout(function () {
                window.location.href = '/login?is_r=1';
            }, Math.random() * 5000);
        }
        socket = null;
    }
</script>