<%- include ./layout/header %>
<link rel="stylesheet" href="css/home.css">
<style>
    #rank-div-list {
        width: 200px;
        height: 500px;
        position: fixed;
        top: 26px;
        left: 23px;
        background-color: lightgrey;
        overflow-y: auto;
        /* display: none; */
    }
</style>
<div class="rank-fixd-div">
    显示中
    <span class="prompt-box">
        <a onclick="selectRankFunc(1)">1111</a>
        <br>
        <a onclick="selectRankFunc(2)">2222</a>
        <br>
        <a onclick="selectRankFunc(3)">3333</a>
    </span>
</div>

<script>
    var selectRankFunc = function (type) {
        let title = '等级'
        if (type == 2) {
            title = '兽宠'
        } else if (type == 3) {
            title = '神兵'
        }
        $("body").append(`<div id="rank-div-list">
    <span style="color:black;">&nbsp;&nbsp;${title}排行榜</span>
    <a onclick="closeRankDiv()" style=" float: right;font-size: 13px;margin-right: 10px;">关闭</a>
    <br>
    <div id="rank-list-info">
       
    </div>
</div>`)
        $("#rank-div-list").fadeIn(1000)
    }
    var closeRankDiv = function () {
        $("#rank-div-list").remove()
    }
</script>
<%- include ./layout/footer %>