<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="author" content="joucksHua" />
    <meta name="Keywords" content="云顶修仙,云顶修仙Online" />
    <meta name="Description" content="云顶修仙Online" />
    <link rel="stylesheet" href="http://ydxx.andiliba.cn/public/layui/css/layui.css">
    <link rel='stylesheet' href='http://ydxx.andiliba.cn/public/style.css' />
    <!-- <title>云顶修仙 - 修仙进行中...</title> -->
    <title>云顶修仙 - 修仙进行中...</title>
    <style>
        body {
            color: gray;
            overflow-x: hidden;
            margin: 0;
            overflow-x: hidden;
            text-align: center;
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        .top-bar {
            background-color: white;
            height: 26px;
            line-height: 26px;
            font-size: 13px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: left;
            box-shadow: 0px 0px 5px rgba(136, 136, 136, 0.6);
        }

        .footer {
            background-color: #333;
            color: white;
            font-size: 13px;
            /* margin-top: 312px; */
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .zuozhe {
            color: palevioletred;
            float: right;
        }

        .cdk {
            color: cadetblue;
            cursor: pointer;
        }
    </style>
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <div class="top-bar">
        <span>《云顶修仙Online版》</span>
        <!-- <a href="/login">登录</a>
        <span class="title">《云顶修仙》</span> <a onclick="switchModeFunc(1)">切换</a>/F2 -->
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span id="tip-header"><a target="_blank"
                href="/exchange">兑换码</a>&nbsp;&nbsp;&nbsp; -->
        <span>玩家交流QQ群:173059029
            <!-- (每天群里都会发福利<span style="color: orange;">兑换码</span>) -->
        </span>
        &nbsp;&nbsp;&nbsp;tip:如遇到页面卡着不动，刷新能解决大部分问题。&nbsp;&nbsp;&nbsp;
        <!-- <span><a class="cdk" target="_bank" href="/exchange">CDK兑换码</a></span> -->
        <span class="zuozhe">联系作者-wx:Achao-Axiao</span>
    </div>