<div class="layui-row" style="border: 1px solid black;font-size: 12px;font-weight: initial;">
    <div class="layui-row">
        <h6><span id="fation-name-title">工会建设</span></6>
            <hr>
            <div class="layui-col-sm3">
                <span class="fation-up-fang"> 工会等级:<span id="fation_level">-</span><a class="up-fation-level"
                        onclick="upFationFunc('level')">↑</a>
                    <span class="prompt-box">
                        升级影响全部技能提升上限(等级*10)，并影响领取任务上限。
                        <br>
                        升级需要等级*3000贡献与等级*30w资金。
                    </span></span>
            </div>
            <div class="layui-col-sm3">
                <span class="fation-up-fang"> 药房等级:<span id="fation_pharmacy_level">-
                    </span><a class="up-fation-level" onclick="upFationFunc('pharmacy_level')">↑</a>
                    <span class="prompt-box">
                        升级影响烹饪、炼药技能提升上限(等级*10)。
                        <br>
                        升级需要等级*1000贡献与等级*10w资金。
                    </span></span>
            </div>
            <div class="layui-col-sm3">
                <span class="fation-up-fang">技巧等级:<span id="fation_forging_level">-</span><a class="up-fation-level"
                        onclick="upFationFunc('forging_level')">↑</a>
                    <span class="prompt-box">
                        升级影响打造技能提升上限(等级*10)。
                        <br>
                        升级需要等级*1000贡献与等级*10w资金。
                    </span></span>
            </div>
            <div class="layui-col-sm3">
                <span class="fation-up-fang">练功等级:<span id="fation_practice_level">-</span><a class="up-fation-level"
                        onclick="upFationFunc('practice_level')">↑</a>
                    <span class="prompt-box">
                        升级影响强身、冥想、追捕、神速技能提升上限(等级*10)。
                        <br>
                        升级需要等级*1000贡献与等级*10w资金。
                    </span></span>
            </div>
            <div class="layui-col-sm3">
                工会资金:<span id="fation_funds_num">-</span>
            </div>
            <div class="layui-col-sm3">
                工会贡献:<span id="fation_contribution_num">-</span>
            </div>
            <div class="layui-col-sm3">
                <a class="fation-dis" style="display: none;" onclick="donateFationFunds()">捐献</a>(5k仙石/25贡献)
            </div>
            <div class="layui-col-sm3">
                工会人数:<span id="fation_max_user_count">-</span>
            </div>
            <div class="layui-col-sm3">
                我的贡献:<span id="fation_my_contribution_num">-</span>
            </div>
            <div class="layui-col-sm3">
                可用贡献:<span id="fation_my_use_contribution_num">-</span>
            </div>
            <div class="layui-col-sm3">
                <a class="fation-dis" style="display: none;" onclick="getFationTaskFunc()"> 领取任务</a>
            </div>
            <div class="layui-col-sm3">
                <a style="display: none;" id="create-fation-btn" onclick="openCreateFationModel()">创建</a>&nbsp;
                <a style="display: none;" id="add-fation-btn" onclick="selectFationListModel()">加入</a>&nbsp;
                <a style="display: none;" id="show-apply-btn" onclick="showFationApplyModel()">查看申请</a>&nbsp;

            </div>

            <div class="layui-col-sm3">
                我的职位:<span id="fation_my_type">-</span>
            </div>
            <div class="layui-col-sm3">
                <a onclick="showMyFationListModel()">查看人员</a>
            </div>
            <div class="layui-col-sm3">
                &nbsp;
            </div>
            <div class="layui-col-sm3">
                <a style="display: none;" id="leave-fation-btn" onclick="laeveFationModel()">脱离工会</a>
            </div>
    </div>
    <div class="layui-row" style="text-align: center;">
        <h6>可修炼技能</h6>
        <hr>
        <div class="layui-col-sm3" style="margin-bottom: 10px;">
            <span class=" fation-skill-btn">
                <button type="button" onclick="upFationUserSkill('fation_hp_level')"
                    class="layui-btn layui-btn-primary layui-btn-xs">强身↑</button>
                <span class="prompt-box">提升基础气血上限，等级*10;</span></span>

        </div>
        <div class="layui-col-sm3" style="margin-bottom: 10px;"> <span class=" fation-skill-btn">
                <button type="button" onclick="upFationUserSkill('fation_mp_level')"
                    class="layui-btn layui-btn-primary layui-btn-xs">冥想↑</button>
                <span class="prompt-box">提升基础魔法上限，等级*10;</span></span>
        </div>
        <div class="layui-col-sm3" style="margin-bottom: 10px;"> <span class=" fation-skill-btn">
                <button type="button" onclick="upFationUserSkill('fation_speed_level')"
                    class="layui-btn layui-btn-primary layui-btn-xs">神速↑</button>
                <span class="prompt-box">提升基础速度，等级*1;</span></span>
        </div>
        <div class="layui-col-sm3" style="margin-bottom: 10px;"> <span class=" fation-skill-btn">
                <button type="button" onclick="upFationUserSkill('fation_cooking_level')"
                    class="layui-btn layui-btn-primary layui-btn-xs">烹饪↑</button>
                <span class="prompt-box">提升烹饪熟练度;</span></span>
        </div>
        <div class="layui-col-sm3" style="margin-bottom: 10px;"> <span class=" fation-skill-btn">
                <button type="button" onclick="upFationUserSkill('fation_drug_level')"
                    class="layui-btn layui-btn-primary layui-btn-xs">炼药↑</button>
                <span class="prompt-box">提升炼药熟练度;</span></span>
        </div>
        <div class="layui-col-sm3" style="margin-bottom: 10px;"> <span class=" fation-skill-btn">
                <button type="button" onclick="upFationUserSkill('fation_build_level')"
                    class="layui-btn layui-btn-primary layui-btn-xs">打造↑</button>
                <span class="prompt-box">提升炼铁熟练度;</span></span>
        </div>
        <div class="layui-col-sm3" style="margin-bottom: 10px;"> <span class=" fation-skill-btn">
                <button type="button" onclick="upFationUserSkill('fation_mechanism_level')"
                    class="layui-btn layui-btn-primary layui-btn-xs">机关↑</button>
                <span class="prompt-box">提升制作机关熟练度;</span></span>
        </div>
        <div class="layui-col-sm3" style="margin-bottom: 10px;"> <span class=" fation-skill-btn">
                <button type="button" onclick="upFationUserSkill('fation_zhuibu_level')"
                    class="layui-btn layui-btn-primary layui-btn-xs">追捕↑</button>
                <span class="prompt-box">提升追捕几率，等级/10*1%;</span></span>
        </div>
    </div>
</div>