<div class="layui-row" id="fb-list" style=" border: 1px solid #ccc;">
    <!-- <div class="layui-row fb-info">
        <div class="layui-col-lg2 layui-col-md2 layui-col-xs2 fb-name">轻鸿羽

            <span class="prompt-box">
                介绍:测试介绍
                <br>
                属性:木
                <br>
                加成:
            </span>
        </div>
        <div class="layui-col-lg1 layui-col-md10 layui-col-xs10">
            <div class="fb-c-list">
                <div class="fb-c-p">
                    <div class="fb-c">
                        &nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-lg5 layui-col-md10 layui-col-xs10" id="test-fb" style="overflow: hidden;">
        </div>
        <div class="layui-col-lg4 layui-col-md12 layui-col-xs12">
            &nbsp;&nbsp;&nbsp;<a style="line-height: 31px;color: tomato;">升星</a>
            &nbsp;&nbsp;&nbsp;<a style="line-height: 31px; color: teal;">共生</a>
            &nbsp;&nbsp;&nbsp;<a style="line-height: 31px;color:palevioletred;">养灵</a>
            &nbsp;&nbsp;&nbsp;<a style="line-height: 31px;">佩戴</a>
        </div>
    </div> -->
</div>