<div class="layui-row" style="margin:0;">
    <div class="layui-col-sm6"><a class="layui-btn  layui-btn-sm" onclick="makeGoodsFunc()">合成</a><a class="layui-btn  layui-btn-sm" onclick="sellGoodsFunc()">分解</a><a class="layui-btn  layui-btn-sm" onclick="allSellGoodsFunc()">整理</a></div>
    <div class="layui-col-sm6" id="goods-page"></div>
</div>
<hr>
<div class="layui-row" id="goods-list">

</div>