<div class="page-my-info layui-row">
    <div class="layui-col-xs8">
        <table class="layui-table">
            <colgroup>
                <col>
                <col>
            </colgroup>
            <tbody class="player-info">
                <tr>
                    <td>等级:<span id="uinfo_level">-</span>
                        <span class="upLevelBtn">
                            <a onclick="upPlayerLevelFunc()">境界↑</a>
                            <span class="prompt-box">
                                当前境界【<span style="margin-left:0;" id="current-level">-</span>】
                                <br>
                                下一境界【<span id="next-level-name" style="margin-left:0;">淬体一层</span>】<br>需要修为点
                                <span id="next-level-num">-</span style="margin-left:0;">
                            </span>
                        </span>
                    </td>
                    <td>经验:<span id="uinfo_exp">-</span></td>
                </tr>
                <tr>
                    <td>种族:<span id="uinfo_race_type">-</span></td>
                    <td>称号:<span id="uinfo_title">-</span><a onclick="userTitleBFunc()"
                            style="font-size: 12px;float: right;">更换</a></td>
                </tr>
                <tr>
                    <td>气血:<span id="uinfo_hp_cap">-</span></td>
                    <td>魔法:<span id="uinfo_mp_cap">-</span>
                    </td>
                </tr>
                <tr>
                    <td>命中:<span id="uinfo_hit">-</span></td>
                    <td>体质:<span id="uinfo_con">-</span>
                        <span class="user-ptn-num" id="uinfo-ptn-con"></span>
                        <a class='add-user-ptn' onclick='clickAddPtnFunc(1,"con",this)'>＋</a>
                    </td>
                </tr>
                <tr>
                    <td>物理伤害:<span id="uinfo_physical_damage">-</span></td>
                    <td>魔力:<span id="uinfo_int">-</span>
                        <span class="user-ptn-num" id="uinfo-ptn-int"></span>
                        <a class='add-user-ptn' onclick='clickAddPtnFunc(1,"int",this)'>＋</a></td>
                </tr>
                <tr>
                    <td>物理防御:<span id="uinfo_physical_defense">-</span></td>
                    <td>力量:<span id="uinfo_str">-</span>
                        <span class="user-ptn-num" id="uinfo-ptn-str"></span>
                        <a class='add-user-ptn' onclick='clickAddPtnFunc(1,"str",this)'>＋</a></td>
                </tr>
                <tr>
                    <td>魔法伤害:<span id="uinfo_magic_damage">-</span></td>
                    <td>耐力:<span id="uinfo_vit">-</span>
                        <span class="user-ptn-num" id="uinfo-ptn-vit"></span>
                        <a class='add-user-ptn' onclick='clickAddPtnFunc(1,"vit",this)'>＋</a></td>
                </tr>
                <tr>
                    <td>魔法防御:<span id="uinfo_magic_defense">-</span></td>
                    <td>敏捷:<span id="uinfo_agi">-</span>
                        <span class="user-ptn-num" id="uinfo-ptn-agi"></span>
                        <a class='add-user-ptn' onclick='clickAddPtnFunc(1,"agi",this)'>＋</a></td>
                </tr>
                <tr>
                    <td>治疗能力:<span id="uinfo_restore_damage">-</span></td>
                    <td>潜力:<span id="uinfo_potential_num">-</span>
                        <span class="dis-fp"> <a onclick="saveUserPtnFunc()" style="float:right;font-size: 12px;">分配</a>
                            <span class="prompt-box">
                              <a onclick="resetAttributeFunc()">重置潜力</a>
                              <br>
                              重置潜力将花费600w灵石/次
                              <br>
                              可将已分配属性退回潜力重新分配
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>速度:<span id="uinfo_speed">-</span></td>
                    <td>躲避:<span id="uinfo_dodge">-</span></td>
                </tr>
                <tr>
                    <td>物理暴击:<span id="uinfo_physical_crit">-</span></td>
                    <td>法术暴击:<span id="uinfo_magic_crit">-</span></td>
                </tr>
                <tr>
                    <td>兽宠经验:<span id="uinfo_pet_exp">-</span></td>
                    <td>活力:<span id="uinfo_vitality_num">-</span></td>
                </tr>
                <tr>
                    <td>气血储备:<span id="uinfo_hp_store">-</span></td>
                    <td>魔法储备:<span id="uinfo_mp_store">-</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="layui-col-xs4">
        <h5>
            生活技能
        </h5>
        <table class="layui-table">
            <colgroup>
                <col>
                <col>
            </colgroup>
            <tbody class="player-info" style="text-align: center;border-left: solid 1px gray;">
                <tr>
                    <td>强身</td>
                    <td><span id="uinfo_fation_hp_level">0</span></td>
                </tr>
                <tr>
                    <td>冥想</td>
                    <td><span id="uinfo_fation_mp_level">0</span></td>
                </tr>
                <tr>
                    <td>神速</td>
                    <td><span id="uinfo_fation_speed_level">0</span></td>
                </tr>
                <tr>
                    <td>烹饪</td>
                    <td><span id="uinfo_fation_cooking_level">0</span></td>
                </tr>
                <tr>
                    <td>炼药</td>
                    <td><span id="uinfo_fation_drug_level">0</span></td>
                </tr>
                <tr>
                    <td>打造</td>
                    <td><span id="uinfo_fation_build_level">0</span></td>
                </tr>
                <tr>
                    <td>机关</td>
                    <td><span id="uinfo_fation_mechanism_level">0</span></td>
                </tr>
                <tr>
                    <td>追捕</td>
                    <td><span id="uinfo_fation_zhuibu_level">0</span></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>