<div class="layui-row" style="margin:0;" id="player-sell-my">


</div>
<hr>
<div class="layui-row">
    <div class="layui-row">
        <div class="layui-col-lg3" id="">
            <select id="select-search-sell" style="height: 30px;width: 100px;"
                onchange="initPlayersSellGoodsFunc(1,'init')">
                <option value="0">全部</option>
                <option value="1">装备</option>
                <option value="2">材料</option>
                <option value="3">技能书</option>
                <option value="4">制造类</option>
                <option value="5">宠物蛋</option>
                <option value="6">珍稀物品</option>
                <option value="7">法宝材料</option>
                <option value="8">低级兽决</option>
                <option value="9">高级兽决</option>
            </select>
        </div>
        <div class="layui-col-lg9" id="player-sell-page"></div>

    </div>
    <div class="layui-row" id="player-sell-list">

    </div>
</div>