<div class="layui-row" style="text-align: center;font-size: 12px;">
    <h6>修炼技能</h6>
    <div class="layui-col-xs3">
        <span class="arms_title"><a>剑修</a>
            <span class="prompt-box">
                <p style="color: black;">经验:<span
                        id="arms_up_exp_0">0/0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2w灵石/次&nbsp;&nbsp;<a
                        onclick="repairUserArmsFunc(1)">修炼</a> </p>
                <p>入门 可佩戴30级 </p>
                <p>精修 可佩戴40级 物伤<span style="color:orangered;">↑4%</span></p>
                <p>剑意境 可佩戴50级 物伤<span style="color:orangered;">↑5%</span></p>
                <p>剑心境 可佩戴60级 物伤<span style="color:orangered;">↑6%</span></p>
                <p>剑解境 可佩戴70级 物伤<span style="color:orangered;">↑7%</span></p>
                <p>剑魂入体 可佩戴80级 物伤<span style="color:orangered;">↑8%</span></p>
                <p>剑灵出窍 物伤 + 60 <span style="color:orangered;">↑9% </span></p>
                <p>剑神境  物伤 + 60 <span style="color:orangered;">↑10%</span></p>
            </span>
        </span>
        <p>↓</p>
        <p><span id="arms_name_0">入门</span></p>
    </div>
    <div class="layui-col-xs3">
        <span class="arms_title"><a>枪修</a>
            <span class="prompt-box">
                <p style="color: black;">经验:<span
                        id="arms_up_exp_1">0/0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2w灵石/次&nbsp;&nbsp;<a
                        onclick="repairUserArmsFunc(2)">修炼</a> </p>
                <p>入门 可佩戴30级 </p>
                <p>精修 可佩戴40级 法伤<span style="color:orangered;">↑4%</span></p>
                <p>枪意境 可佩戴50级 法伤<span style="color:orangered;">↑5%</span></p>
                <p>枪心境 可佩戴60级 法伤<span style="color:orangered;">↑6%</span></p>
                <p>枪解境 可佩戴70级 法伤<span style="color:orangered;">↑7%</span></p>
                <p>枪魂入体 可佩戴80级 法伤<span style="color:orangered;">↑8%</span></p>
                <p>枪灵出窍 法伤 + 60 <span style="color:orangered;">↑9%</span></p>
                <p>枪神境 法伤 + 60 <span style="color:orangered;">↑10%</span></p>
            </span>
        </span>
        <p>↓</p>
        <p><span id="arms_name_1">入门</span></p>
    </div>
    <div class="layui-col-xs3">
        <span class="arms_title"><a>锤修</a>
            <span class="prompt-box">
                <p style="color: black;">经验:<span
                        id="arms_up_exp_2">0/0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2w灵石/次&nbsp;&nbsp;<a
                        onclick="repairUserArmsFunc(3)">修炼</a> </p>
                <p>入门 可佩戴30级 </p>
                <p>精修 可佩戴40级 防御<span style="color:orangered;">↑4%</span></p>
                <p>锤意境 可佩戴50级 防御<span style="color:orangered;">↑5%</span></p>
                <p>锤心境 可佩戴60级 防御<span style="color:orangered;">↑6%</span></p>
                <p>锤解境 可佩戴70级 防御<span style="color:orangered;">↑7%</span></p>
                <p>锤魂入体 可佩戴80级 防御<span style="color:orangered;">↑8%</span></p>
                <p>锤灵出窍 防御 + 60 <span style="color:orangered;">↑9%</span></p>
                <p>锤神境 防御 + 60 <span style="color:orangered;">↑10%</span></p>
            </span>
        </span>
        <p>↓</p>
        <p><span id="arms_name_2">入门</span></p>
    </div>
    <div class="layui-col-xs3">
        <span class="arms_title"><a>伞修</a>
            <span class="prompt-box">
                <p style="color: black;">经验:<span
                        id="arms_up_exp_3">0/0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2w灵石/次&nbsp;&nbsp;<a
                        onclick="repairUserArmsFunc(4)">修炼</a> </p>
                <p>入门 可佩戴30级 </p>
                <p>精修 可佩戴40级 治疗<span style="color:orangered;">↑4%</span></p>
                <p>伞意境 可佩戴50级 治疗<span style="color:orangered;">↑5%</span></p>
                <p>伞心境 可佩戴60级 治疗<span style="color:orangered;">↑6%</span></p>
                <p>伞解境 可佩戴70级 治疗<span style="color:orangered;">↑7%</span></p>
                <p>伞魂入体 可佩戴80级 治疗<span style="color:orangered;">↑8%</span></p>
                <p>伞灵出窍 治疗 + 60 <span style="color:orangered;">↑9%</span></p>
                <p>伞神境 治疗 + 60 <span style="color:orangered;">↑10%</span></p>
            </span>
        </span>
        <p>↓</p>
        <p><span id="arms_name_3">入门</span></p>
    </div>
</div>

<div class="layui-row" id="skill-page">
    <h6>已掌握技能</h6>
</div>